<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars practice - List</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    {{{body}}}
</body>
</html>