
<div class="container">
    <h1>Best buddies</h1><br>
    <div class="listItems">
        <ul>
            {{#each bootcodersPets}}
            <li class="{{this.class}} {{this.class2}}"> {{this.name}} loves {{human}}</li>
            {{/each}}
        </ul>
    </div>
</div>